table{
    width: 90%;
    border-spacing: 0;
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 20px 30px 12px;
   
    
}
table { border-collapse:collapse }
table thead tr th{
 border: 1px solid black;
 padding: 15px;
 color: rgb(75, 0, 0);
 background-color: rgb(0, 143, 161);
font-size: 2em;


}
table tbody tr td{
 border: 1px solid black;
 padding: 10px;
 cursor: pointer;
}
td[title]:hover:after {
    content: attr(title);
    font-size: 21px;
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
 }
 .Programozási{
   background-color: chartreuse;
 }
 .Ikt{
    background-color: burlywood;
 }
 .Komplex{
    background-color: rgb(146, 141, 135);
 }
 .Testnevelés{
  background-color: rgb(238, 196, 91);
 }
 .Magyar{
  background-color: rgb(236, 231, 161);
 }
 .Angol{
  background-color: rgb(3, 222, 238);
 }
 .Matek{
  background-color: rgb(121, 107, 107);
 }
 .Infos{
  background-color: rgb(255, 61, 61);
 }
 .Történelem{
  background-color: rgb(126, 113, 0);
 }
 .Digk{
  background-color: salmon;

 }
 .Salamon{
  background-color: rgb(78, 177, 121);
 }
 .Fidesz{
  background-color: orange;
  
 }
 .DÓGOZZÁ{
  background-color: rgb(170, 169, 167);

 }
 .Infob{
  background-color: #DC143C;
 }
 .Osztályfőnöki{
  background-color: #FFFFE0;
 }
 .s{
  background-color: ##F5F5F5;
 }