table{
    width: 90%;
    border-spacing: 0;
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 20px 30px 12px;
   
    
}
table { border-collapse:collapse }
table thead tr th{
 border: 1px solid black;
 padding: 10px;
 color: rgb(75, 0, 0);
 background-color: rgb(0, 143, 161);


}
table tbody tr td{
 border: 1px solid black;
 padding: 10px;
 cursor: pointer;
}
td[title]:hover:after {
    content: attr(title);
    font-size: 21px;
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
 }
 